<html lang="en">
<head>

    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <div class="header">
        Utilisation de la BDD classicmodels
    </div>

    <div class="container">
        {{{body}}}
    </div>

    <script src="lib/jquery.js"></script>
    <script src="lib/handlebars.min-v4.7.6.js"></script>
    <script src="index.js"></script>
</body>
</html>